* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
#home{
  flex: 1;
}
.navigation {
  padding: 3rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  box-sizing: border-box;
}
.rnav-list,
.lnav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0rem;
}
.rlist-item,
.llist-item {
  list-style: none;
  padding: 1rem 0.5rem;
}
.rlist-item a,
.llist-item a {
  text-decoration: none;
  border-radius: 0.4rem;
  font-weight: 300;
  color: black;
  padding: .8rem;
  font-size: 2rem;
}
.rlist-item a:hover,
.llist-item a:hover {
  background-color: #f0f0f0;
}
.logo img {
  padding: 0.5rem 1rem;
  width: 18rem;
  height: 5.2rem;
}
#toggle,
label {
  display: none;
}
.bg-img {
  background-image: url(./assets/slider2.jpg);
}
.carousel-image {
  width: 100%;
  height: 25vw;
  background-size: cover;
  background-position: center;
}
.carousel-control-prev,
.carousel-control-next {
  width: 3rem;
  height: 3.5rem;
  background-color: white;
  top: calc(50% - 25px);
  opacity: 1;
}
.carousel-control-prev {
  left: 0px;
}
.carousel-control-next {
  right: 0px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 3rem;
  height: 3rem;
}
.carousel-control-next-icon {
  background-image: url(./assets/arrow-right.svg);
}
.carousel-control-prev-icon {
  background-image: url(./assets/arrow-left.svg);
}
.c {
  border: 1.5rem solid #35006D;
  border-bottom: 2rem solid #35006D;
  border-top: 2rem solid #35006D;
}
.flexcontainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 1.6rem;
  padding-top: 2rem;
  max-width: 1300px;
  margin: 0 auto;
}
.box {
  display: flex;
  flex-direction: column;
  width: 31%;
  margin: 10px;
}
.fig {
  height: 24rem;
  width: 100%;
}
.hbox {
  padding: 1.6rem 0px;
  font-weight: 300;
  color: black;
}
.box p {
  margin-bottom: 0;
  font-weight: 300;
  color: #443636;
  padding-bottom: 1.5rem;
}
.box a{
  text-decoration: none;
  color: #35006D;
  font-weight: 400;
  cursor: pointer;
}
.box a:hover {
  color: black;
}
.imgcontainer {
  height: 435px;
}
.section2 {
  margin-top: 3rem;
  width: 100%;
  height: 300px;
  background-color: rgb(255 203 16);
  position: relative;
}
.hsection2,
.imgbelowh {
  display: block;
  padding: 17px;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 0px;
  line-height: 1;
  font-weight: 200;
}
.hsection2 {
  padding-top: 5.5rem;
  color: #35006D;
}
.psection2 {
  text-align: center;
  font-size: 1.6rem;
  display: block;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 0px;
  line-height: 1.5;
  color: #35006D;
  font-weight: 300;
}
.imgsec2 {
  display: block;
  height: 334px;
  position: absolute;
  top: 127px;
  left: 0px;
  right: 0px;
  max-width: 1300px;
  margin: 0 auto;
}
.imgsec2 img {
  width: 40%;
  height: 100%;
  display: block;
  margin: auto;
}
.imgbelowsec {
  max-width: 1300px;
  margin: 0 auto;
}
.imgbelowh {
  color: #35006D;
}
.imgpara {
  text-align: center;
  font-size: 1.6rem;
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 0px;
  line-height: 1.2;
  color: #35006D;
  font-weight: 200;
}
.section4 {
  font-size: 1.6rem;
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  gap: 1em;
}
.secbox {
  box-sizing: border-box;
  width: 50%;
  text-align: center;
  padding: 2.5rem 0.5rem;
  padding-bottom: 0rem;
  margin: 4.5rem 2rem;
  margin-bottom: 5rem;
  color: #35006D;
  font-style: italic;
  font-weight: 200;
  border-top: 2px solid rgb(172, 168, 168);
}
.lborder{
  margin: 6rem 0;
  border-left: 2px solid rgb(172, 168, 168);
}
.footer {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  padding: 20px;
  background-color: #35006D;
  text-align: center;
  color: white;
  font-weight: 200;
}

@media only screen and (min-width: 621px) and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .logo img {
    width: 15rem;
    height: 5.5rem;
  }
  .rlist-item a,
  .llist-item a {
    font-size: 2.2rem;
    padding: .8rem;
  }
  .c {
    border: 1.5rem solid #35006D;
  }
  .carousel-image {
    height: 30vw;
  }
  .flexcontainer {
    font-size: 1.5rem;
  }
  .fig {
    height: 22rem;
  }
  .hbox {
    font-size: 2rem;
  }
  .box p {
    font-size: 1.75rem;
  }
  .box a{
    font-size: 2rem;
  }
  .section2 {
    height: 275px;
  }
  .imgsec2 {
    top: 105px;
  }
  .imgsec2 img {
    width: 50%;
  }
  .psection2 {
    font-size: 2rem;
    width: 53%;
  }
  .imgpara {
    font-size: 2rem;
    width: 80%;
  }
  .secbox {
    font-size: 2rem;
  }
  .footer {
    font-size: 2rem;
  }
}

@media (max-width: 620px) {
  .navigation {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .navigation :nth-child(1) {
    order: 2;
  }
  .navigation :nth-child(2) {
    order: 3;
  }
  .navigation :nth-child(3) {
    order: 4;
  }
  .navigation :nth-child(4) {
    order: 1;
  }
  .navigation :nth-child(5) {
    order: 5;
  }
  .logo img {
    padding: 0.5rem 2rem;
    width: 16rem;
  }
  .rnav-list,
  .lnav-list {
    width: 100%;
    flex-direction: column;
    display: none;
    text-align: center;
    flex-wrap: wrap;
    background-color: #35006D;
    margin-bottom: 0rem;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }
  .rlist-item,
  .llist-item {
    padding: 1rem;
  }
  .rnav-list {
    top: 90px;
  }
  .lnav-list {
    top: 239px;
  }
  .rlist-item a,
  .llist-item a {
    color: white;
    font-size: 2rem;
  }
  .rlist-item a:hover,
  .llist-item a:hover {
    color: black;
  }
  label {
    font-size: 1.7rem;
    display: block;
    padding-right: 2rem;
    margin-bottom: 0rem;
    color: #35006D;
  }
  #toggle:checked ~ .rnav-list {
    display: flex;
  }
  #toggle:checked ~ .lnav-list {
    display: flex;
  }
  .c {
    border: 1.5rem solid #35006D;
    border-left: 2rem solid #35006D;
    border-right: 2rem solid #35006D;
  }
  .carousel-image {
    height: 45vw;
  }
  .bg-img {
    background-image: url(./assets/slider.jpg);
  }
  .flexcontainer {
    flex-direction: column;
    align-items: center;
  }
  .box {
    width: 100%;
    padding: 0px 15px;
  }
  .fig {
    height: 25rem;
  }
  .psection2,
  .imgpara {
    font-size: 1.6rem;
    width: 90%;
  }
  .section2 {
    height: 290px;
  }
  .hsection2 {
    font-size: 3rem;
  }
  .imgsec2 {
    width: 100%;
    height: 35rem;
    top: 13rem;
  }
  .imgsec2 img {
    width: 76%;
    height: 88%;
  }
  .imgbelowh {
    font-size: 2.3rem;
  }
  .section4 {
    flex-wrap: wrap;
    gap: 2em;
  }
  .secbox {
    width: 100%;
    padding: 25px;
  }
  .lborder{
    width:33%;
    margin: 0rem auto;
    display: block;
    border-top: 2px solid rgb(172, 168, 168);
  }
  #secbox1 {
    margin-bottom: 0rem;
    padding-bottom: 0rem;
  }
  #secbox2 {
    margin-top: 0rem;
    padding-top: 0rem;
    border-top: none;
    padding-bottom: 0rem;
  }
  .footer {
    padding: 15px;
    font-size: 1.2rem;
  }
}
